*{
    /* temporary for seeing box outlines */
    /* outline: 2px solid red; */
    flex: auto;
}

.title .text{
    font-family: 'Times New Roman', Times, serif;
}

.title{
    margin:auto;
    font-size: 48px;
    padding: 10px;
    border: 0px;
    background-color: white;
    color:black;
}

.text{
    font-size: 0px;
    padding: 0px;
    border: 0px;
    margin: 10px;;
    color:black;
}