/* Global Styles */
* {
    /* format */
    flex: auto;
    border: none;
    margin: auto;

    /* text */
    font-family: 'Times New Roman', Times, serif;
    text-wrap: wrap;
    text-align: left;
    text-decoration: none;
}

/* Body */
body {
    background-color: white;
}

/* Title Styles */
h1 {
    text-align: center;
    background-color: rgb(127, 171, 158);
    color: black;
    font-size: 48px;
    width: 100%;
}

h1 a button {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5);
    padding: 10px 30px;
    font-size: 20px;
}

/* Paragraph Styles */
p {
    background-color: white;
    color: black;
    font-size: 18px;
    padding: 10px 10px;
}

/* Criteria Styles */
p[type="question"] {
    margin-top: 20px;
    background-color: rgb(251, 242, 223);
    color: black;
    font-size: 18px;
    padding: 10px 10px;
}

ul li {
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 15px;
}

/* Input Styles */
input, textarea {
    margin: 0;
    color: black;
    background-color: rgb(245, 245, 239);
    width: 100%;
    padding: 10px 10px;
    font-size: 18px;
}

textarea {
    height: 200px;
}

input {
    height: 20px;
}

/* Character Count Styles */
#charCount {
    margin-right: 10px;
    float: right;
}

/* Submit Button */
button[type="submit"] {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: rgb(221, 186, 110);
    color: black;
    padding: 15px 32px;
    font-size: 18px;
}
